
.button-border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    min-width: 175px;
    min-height: 40px;
    font-weight: 800;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #00B7FF;
    border: 1px solid #00B7FF;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 2px #00CCFF;
    box-shadow: 0px 0px 2px #00CCFF;
    padding: 10px;
}

.button-border:hover {
    color: #fff;
    background: #00B7FF;
}

.sidebar__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
}

.sidebar__tags:first-child {
    margin-top: 0;
}

.sidebar__tags-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    color: #828282;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 15px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.sidebar__tags-link:hover {
    color: #00b7ff;
    text-decoration: none;
}

.sidebar__tags-link:hover:before {
    color: #00b7ff;
}

.sidebar__tags-link:before {
    content: "#";
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.22;
    color: #A1A1A1;
    margin-right: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.sidebar__tags-link:last-child {
    margin-bottom: 0;
}

.articles {
    width: 100%;
}

.articles_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
    width: 100%;
}

.articles_list__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 200px;
    border: 1px solid #E5E6EA;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 25px 14px 25px;
    position: relative;
}

.articles_list__block-link {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.articles_list__block-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.articles_list__block-content:last-child {
    margin-bottom: 0;
}

.articles_list__block-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 76px;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 0;
    margin-bottom: 10px;
}

.articles_list__block-img:last-child {
    margin-bottom: 0;
}

.articles_list__block-img img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.articles_list__block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.articles_list__block ul li {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    color: #A1A1A1;
    padding-left: 15px;
    margin-bottom: 5px;
    position: relative;
}

.articles_list__block ul li:last-child {
    margin-bottom: 0;
}

.articles_list__block ul li:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #A1A1A1;
    position: absolute;
    top: 6px;
    left: 0;
}

.articles_list__block-status {
    width: 100%;
    border-top: 1px solid #E5E6EA;
    padding-top: 7px;
}

.articles_list__block .done {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.2;
    color: #333333;
}

.articles_list__block .done span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.articles_list__block .done span:before {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='10' cy='10' r='9' stroke='%234CF99E' stroke-width='2'/%3e%3cpath d='M13.8661 6.0128L8.33442 12.1411L6.13393 9.70326C5.81764 9.35286 5.29347 9.35286 4.97718 9.70326C4.67427 10.0388 4.67427 10.573 4.97718 10.9086L7.75604 13.9872C7.91094 14.1588 8.12003 14.25 8.33442 14.25C8.5488 14.25 8.7579 14.1588 8.91279 13.9872L15.0228 7.21815C15.3257 6.88257 15.3257 6.34838 15.0228 6.0128C14.7065 5.6624 14.1824 5.6624 13.8661 6.0128Z' fill='%234CF99E' stroke='%230AE360' stroke-width='0.5'/%3e%3c/svg%3e ");
    margin-right: 10px;
}

.articles_create {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    max-width: 817px;
    border: 1px solid #DADADA;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 47px 50px 30px 50px;
    position: relative;
}

.articles_create-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #FF608D;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 38px;
}

.articles_create-close:hover {
    background: #FF608D;
}

.articles_create-close:hover:after {
    background-color: #fff;
}

.articles_create-close:after {
    content: "";
    display: block;
    width: 14px;
    height: 13px;
    background-color: #FF608D;
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.69023 10.2836L1.01113 10.9627C0.636071 11.3377 0.636072 11.9458 1.01113 12.3209C1.38618 12.6959 1.99428 12.6959 2.36933 12.3209L12.6529 2.03731C13.028 1.66225 13.028 1.05416 12.6529 0.679105C12.2778 0.304046 11.6698 0.304046 11.2947 0.679105L1.69023 10.2836Z' fill='%23FF608D'/%3e%3cpath d='M10.2836 11.6418L10.9627 12.3209C11.3377 12.696 11.9458 12.696 12.3209 12.3209C12.6959 11.9458 12.6959 11.3378 12.3209 10.9627L2.03731 0.679131C1.66225 0.304073 1.05416 0.304073 0.679104 0.679131C0.304045 1.05419 0.304045 1.66228 0.679104 2.03734L10.2836 11.6418Z' fill='%23FF608D'/%3e%3c/svg%3e ");
    mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.69023 10.2836L1.01113 10.9627C0.636071 11.3377 0.636072 11.9458 1.01113 12.3209C1.38618 12.6959 1.99428 12.6959 2.36933 12.3209L12.6529 2.03731C13.028 1.66225 13.028 1.05416 12.6529 0.679105C12.2778 0.304046 11.6698 0.304046 11.2947 0.679105L1.69023 10.2836Z' fill='%23FF608D'/%3e%3cpath d='M10.2836 11.6418L10.9627 12.3209C11.3377 12.696 11.9458 12.696 12.3209 12.3209C12.6959 11.9458 12.6959 11.3378 12.3209 10.9627L2.03731 0.679131C1.66225 0.304073 1.05416 0.304073 0.679104 0.679131C0.304045 1.05419 0.304045 1.66228 0.679104 2.03734L10.2836 11.6418Z' fill='%23FF608D'/%3e%3c/svg%3e ");
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.articles_create-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 50px;
}

.articles_create-box:last-child {
    margin-bottom: 0;
}

.articles_create-block {
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.articles_create-block:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.articles_create__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.articles_create__item:last-child {
    margin-bottom: 0;
}

.articles_create__item-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 107px;
    min-height: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: -0.0024em;
    color: #4F4F4F;
    margin-right: 20px;
}

.articles_create__item-title.height-47 {
    min-height: 47px;
}

.articles_create__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}

.articles_create__item-file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 35px;
    border: 1px solid #00B7FF;
    border-radius: 5px;
    padding: 0 15px;
    position: relative;
}

.articles_create__item-file.width-auto {
    width: auto;
}

.articles_create__item-file.has_file {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0 39px;
}

.articles_create__item-file.has_file p span:before {
    display: none;
}

.articles_create__item-file.has_file .delete_file {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.articles_create__item-file input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.articles_create__item-file input[type=file],
.articles_create__item-file input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.articles_create__item-file p {
    font-size: 11px;
    line-height: 1.2;
    color: #4F4F4F;
}

.articles_create__item-file p span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.articles_create__item-file p span:before {
    content: "";
    display: block;
    width: 14px;
    height: 12px;
    background-color: #828282;
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.6562 5.71148C12.3824 5.71148 12.1624 5.93144 12.1624 6.20528V9.33262C12.1624 10.1002 11.537 10.7234 10.7716 10.7234H3.22835C2.46076 10.7234 1.83761 10.098 1.83761 9.33262V6.15435C1.83761 5.88051 1.61765 5.66055 1.3438 5.66055C1.06996 5.66055 0.85 5.88051 0.85 6.15435V9.33262C0.85 10.6456 1.91812 11.711 3.22835 11.711H10.7716C12.0847 11.711 13.15 10.6429 13.15 9.33262V6.20528C13.15 5.93471 12.9308 5.71148 12.6562 5.71148Z' fill='%23828282' stroke='%23828282' stroke-width='0.3'/%3e%3cpath d='M5.16309 3.31886L6.50635 1.97561V8.58886C6.50635 8.8627 6.72631 9.08266 7.00015 9.08266C7.27399 9.08266 7.49395 8.8627 7.49395 8.58886V1.97561L8.83721 3.31886C8.9314 3.41305 9.05862 3.46467 9.18521 3.46467C9.31196 3.46467 9.43802 3.41719 9.53421 3.31786C9.72676 3.12424 9.72643 2.81353 9.53321 2.62031L7.34815 0.435255C7.25752 0.344622 7.13068 0.289453 7.00015 0.289453C6.86952 0.289453 6.74395 0.340378 6.6512 0.436202L4.46709 2.62031C4.27354 2.81387 4.27354 3.12531 4.46709 3.31886C4.6581 3.50987 4.97209 3.50987 5.16309 3.31886Z' fill='%23828282' stroke='%23828282' stroke-width='0.3'/%3e%3c/svg%3e ");
    mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.6562 5.71148C12.3824 5.71148 12.1624 5.93144 12.1624 6.20528V9.33262C12.1624 10.1002 11.537 10.7234 10.7716 10.7234H3.22835C2.46076 10.7234 1.83761 10.098 1.83761 9.33262V6.15435C1.83761 5.88051 1.61765 5.66055 1.3438 5.66055C1.06996 5.66055 0.85 5.88051 0.85 6.15435V9.33262C0.85 10.6456 1.91812 11.711 3.22835 11.711H10.7716C12.0847 11.711 13.15 10.6429 13.15 9.33262V6.20528C13.15 5.93471 12.9308 5.71148 12.6562 5.71148Z' fill='%23828282' stroke='%23828282' stroke-width='0.3'/%3e%3cpath d='M5.16309 3.31886L6.50635 1.97561V8.58886C6.50635 8.8627 6.72631 9.08266 7.00015 9.08266C7.27399 9.08266 7.49395 8.8627 7.49395 8.58886V1.97561L8.83721 3.31886C8.9314 3.41305 9.05862 3.46467 9.18521 3.46467C9.31196 3.46467 9.43802 3.41719 9.53421 3.31786C9.72676 3.12424 9.72643 2.81353 9.53321 2.62031L7.34815 0.435255C7.25752 0.344622 7.13068 0.289453 7.00015 0.289453C6.86952 0.289453 6.74395 0.340378 6.6512 0.436202L4.46709 2.62031C4.27354 2.81387 4.27354 3.12531 4.46709 3.31886C4.6581 3.50987 4.97209 3.50987 5.16309 3.31886Z' fill='%23828282' stroke='%23828282' stroke-width='0.3'/%3e%3c/svg%3e ");
    margin-top: -1px;
    margin-right: 10px;
}

.articles_create__item-file .delete_file {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='9' fill='%23FF608D'/%3e%3cg clip-path='url(%23clip0_508:1563)'%3e%3cpath d='M12.7542 6.21186L12.5554 5.6162C12.4798 5.38933 12.2682 5.23689 12.0291 5.23689H10.359V4.69314C10.359 4.42136 10.138 4.2002 9.86633 4.2002H8.3369C8.06526 4.2002 7.84423 4.42136 7.84423 4.69314V5.23689H6.17417C5.93501 5.23689 5.72346 5.38933 5.64779 5.6162L5.44908 6.21186C5.40383 6.34747 5.42676 6.49764 5.51032 6.61362C5.59389 6.72959 5.72909 6.79887 5.87205 6.79887H6.07976L6.53693 12.4521C6.57092 12.8716 6.92687 13.2002 7.34744 13.2002H10.9486C11.3691 13.2002 11.7251 12.8716 11.759 12.452L12.2162 6.79887H12.3312C12.4741 6.79887 12.6093 6.72959 12.6929 6.61369C12.7765 6.49771 12.7994 6.34747 12.7542 6.21186ZM8.37158 4.72754H9.83166V5.23689H8.37158V4.72754ZM5.98514 6.27153L6.14808 5.78305C6.15179 5.77179 6.16229 5.76424 6.17417 5.76424H12.0291C12.041 5.76424 12.0514 5.77179 12.0552 5.78305L12.2182 6.27153H5.98514Z' fill='white'/%3e%3cpath d='M10.3923 12.3915C10.397 12.3917 10.4016 12.3918 10.4062 12.3918C10.5456 12.3918 10.662 12.2826 10.6693 12.1419L10.9169 7.38877C10.9244 7.24334 10.8127 7.11926 10.6673 7.11171C10.5215 7.10395 10.3979 7.21587 10.3902 7.3613L10.1427 12.1144C10.1351 12.2598 10.2469 12.3839 10.3923 12.3915Z' fill='%23FF608D'/%3e%3cpath d='M7.54556 12.1424C7.55325 12.283 7.66957 12.3918 7.80861 12.3918C7.81342 12.3918 7.81836 12.3916 7.82324 12.3913C7.9686 12.3835 8.08004 12.2592 8.07215 12.1137L7.8128 7.36064C7.8049 7.21521 7.68062 7.10376 7.53519 7.11173C7.38983 7.11963 7.27839 7.24391 7.28628 7.38934L7.54556 12.1424Z' fill='%23FF608D'/%3e%3cpath d='M9.10449 12.3918C9.25013 12.3918 9.36816 12.2737 9.36816 12.1281V7.375C9.36816 7.22936 9.25013 7.11133 9.10449 7.11133C8.95885 7.11133 8.84082 7.22936 8.84082 7.375V12.1281C8.84082 12.2737 8.95885 12.3918 9.10449 12.3918Z' fill='%23FF608D'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_508:1563'%3e%3crect width='9' height='9' fill='white' transform='translate(4.6001 4.2002)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    background-size: contain;
    position: absolute;
    top: -9px;
    right: 7px;
    z-index: 1;
}

.articles_create__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}

.articles_create__name-block {
    width: 100%;
    height: 35px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    position: relative;
}

.articles_create__name-block--number {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 116px;
    margin-left: 30px;
}

.articles_create__name-block input {
    width: 100%;
    height: 100%;
    font-size: 11px;
    color: #4F4F4F;
    padding: 0 24px;
}

.articles_create__name-block .errors {
    font-size: 12px;
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
}

.articles_create__name-note {
    font-size: 10px;
    line-height: 1.2;
    color: #BDBDBD;
    position: absolute;
    top: 50%;
    right: 12px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.articles_create__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px 20px;
    width: 100%;
}

.articles_create__grid.width-half {
    grid-template-columns: repeat(2, 1fr);
}

.articles_create__grid.width-third {
    grid-template-columns: repeat(3, 178px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.articles_create__grid.column-gap-25 {
    -webkit-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
}

.articles_create__grid.column-gap-50 {
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

.articles_create-add_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 35px;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.2;
    color: #4F4F4F;
    border: 1px solid #00B7FF;
    border-radius: 5px;
    padding: 0 14px 0 24px;
}

.articles_create-add_btn.height-47 {
    height: 47px;
}

.articles_create-add_btn span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.articles_create-add_btn span.icon-left:before {
    display: block;
}

.articles_create-add_btn span.icon-right {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.articles_create-add_btn span.icon-right:after {
    display: block;
}

.articles_create-add_btn span:before,
.articles_create-add_btn span:after {
    content: "";
    display: none;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 14px;
    height: 14px;
    background-color: #00B7FF;
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.25922 6.13763L1.56299 6.13763C1.17847 6.13763 0.866761 6.44934 0.86676 6.83386C0.866759 7.21838 1.17847 7.53009 1.56299 7.53009L12.1059 7.53009C12.4905 7.53009 12.8022 7.21837 12.8022 6.83386C12.8022 6.44934 12.4905 6.13762 12.1059 6.13762L2.25922 6.13763Z' fill='%2300B7FF'/%3e%3cpath d='M5.96771 11.2393L5.96771 11.9355C5.96771 12.3201 6.27942 12.6318 6.66394 12.6318C7.04846 12.6318 7.36017 12.3201 7.36017 11.9355L7.36016 1.39259C7.36016 1.00808 7.04845 0.696363 6.66393 0.696363C6.27941 0.696363 5.9677 1.00808 5.9677 1.3926L5.96771 11.2393Z' fill='%2300B7FF'/%3e%3c/svg%3e ");
    mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.25922 6.13763L1.56299 6.13763C1.17847 6.13763 0.866761 6.44934 0.86676 6.83386C0.866759 7.21838 1.17847 7.53009 1.56299 7.53009L12.1059 7.53009C12.4905 7.53009 12.8022 7.21837 12.8022 6.83386C12.8022 6.44934 12.4905 6.13762 12.1059 6.13762L2.25922 6.13763Z' fill='%2300B7FF'/%3e%3cpath d='M5.96771 11.2393L5.96771 11.9355C5.96771 12.3201 6.27942 12.6318 6.66394 12.6318C7.04846 12.6318 7.36017 12.3201 7.36017 11.9355L7.36016 1.39259C7.36016 1.00808 7.04845 0.696363 6.66393 0.696363C6.27941 0.696363 5.9677 1.00808 5.9677 1.3926L5.96771 11.2393Z' fill='%2300B7FF'/%3e%3c/svg%3e ");
    background-size: contain;
}

.articles_create-add_btn span:before {
    margin-right: 10px;
}

.articles_create-add_btn span:after {
    margin-left: 10px;
}

.articles_create-select {
    width: 100%;
    height: 35px;
    font-weight: normal;
    font-size: 11px;
    line-height: 1.2;
    color: #4F4F4F;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 0 14px 0 24px;
    -webkit-appearance: none;
    -moz-appearance: non;
    appearance: none;
}

.articles_create__several {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
}

.articles_create__several-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 15px;
}

.articles_create__several-block:last-child {
    margin-bottom: 0;
}

.articles_create__several-block .articles_create-select {
    max-width: calc(100% - 40px);
}

.articles_create-plus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

.articles_create-plus:first-child {
    margin-left: 0;
}

.articles_create-plus:after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.25922 6.13763L1.56299 6.13763C1.17847 6.13763 0.866761 6.44934 0.86676 6.83386C0.866759 7.21838 1.17847 7.53009 1.56299 7.53009L12.1059 7.53009C12.4905 7.53009 12.8022 7.21837 12.8022 6.83386C12.8022 6.44934 12.4905 6.13762 12.1059 6.13762L2.25922 6.13763Z' fill='%2300B7FF'/%3e%3cpath d='M5.96771 11.2393L5.96771 11.9355C5.96771 12.3201 6.27942 12.6318 6.66394 12.6318C7.04846 12.6318 7.36017 12.3201 7.36017 11.9355L7.36016 1.39259C7.36016 1.00808 7.04845 0.696363 6.66393 0.696363C6.27941 0.696363 5.9677 1.00808 5.9677 1.3926L5.96771 11.2393Z' fill='%2300B7FF'/%3e%3c/svg%3e ");
    background-size: contain;
}

.articles_create__study {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 47px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 11px;
    line-height: 1.2;
    color: #4F4F4F;
    padding: 0 24px;
    position: relative;
}

.articles_create__study-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: -9px;
    right: 8px;
}

.articles_create__study-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background: transparent;
    margin-right: 7px;
}

.articles_create__study-button:last-child {
    margin-right: 0;
}

.articles_create__study-button--edit {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='9' fill='%2300B7FF'/%3e%3cpath d='M12.3211 5.35944C11.8418 4.88019 11.0647 4.88019 10.5854 5.35944L5.71979 10.2246C5.68644 10.258 5.66237 10.2993 5.6498 10.3447L5.00995 12.6545C4.98364 12.7492 5.01038 12.8506 5.07984 12.9201C5.14941 12.9896 5.25083 13.0163 5.34553 12.9901L7.65551 12.3502C7.70089 12.3376 7.74223 12.3136 7.77557 12.2802L12.6411 7.41494C13.1196 6.93536 13.1196 6.15901 12.6411 5.67944L12.3211 5.35944ZM6.0575 10.9166L7.08353 11.9427L5.66428 12.3358L6.0575 10.9166ZM12.2554 7.02932L11.9662 7.31853L10.6818 6.03427L10.9712 5.74506C11.2374 5.47885 11.6691 5.47885 11.9353 5.74506L12.2554 6.06506C12.5212 6.33158 12.5212 6.7629 12.2554 7.02932Z' fill='white'/%3e%3c/svg%3e ");
}

.articles_create__study-button--delete {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9' cy='9' r='9' fill='%23FF608D'/%3e%3cg clip-path='url(%23clip0_508:2477)'%3e%3cpath d='M12.7537 6.21186L12.555 5.6162C12.4793 5.38933 12.2677 5.23689 12.0286 5.23689H10.3585V4.69314C10.3585 4.42136 10.1376 4.2002 9.86585 4.2002H8.33641C8.06478 4.2002 7.84374 4.42136 7.84374 4.69314V5.23689H6.17369C5.93453 5.23689 5.72297 5.38933 5.6473 5.6162L5.44859 6.21186C5.40334 6.34747 5.42627 6.49764 5.50984 6.61362C5.5934 6.72959 5.7286 6.79887 5.87156 6.79887H6.07927L6.53644 12.4521C6.57043 12.8716 6.92639 13.2002 7.34696 13.2002H10.9481C11.3686 13.2002 11.7246 12.8716 11.7585 12.452L12.2157 6.79887H12.3307C12.4737 6.79887 12.6089 6.72959 12.6924 6.61369C12.776 6.49771 12.7989 6.34747 12.7537 6.21186ZM8.37109 4.72754H9.83117V5.23689H8.37109V4.72754ZM5.98465 6.27153L6.14759 5.78305C6.1513 5.77179 6.16181 5.76424 6.17369 5.76424H12.0286C12.0405 5.76424 12.051 5.77179 12.0547 5.78305L12.2177 6.27153H5.98465Z' fill='white'/%3e%3cpath d='M10.3916 12.3915C10.3962 12.3917 10.4008 12.3918 10.4055 12.3918C10.5448 12.3918 10.6613 12.2826 10.6686 12.1419L10.9162 7.38877C10.9237 7.24334 10.8119 7.11926 10.6666 7.11171C10.5208 7.10395 10.3971 7.21587 10.3895 7.3613L10.142 12.1144C10.1344 12.2598 10.2461 12.3839 10.3916 12.3915Z' fill='%23FF608D'/%3e%3cpath d='M7.54483 12.1424C7.55252 12.283 7.66883 12.3918 7.80788 12.3918C7.81269 12.3918 7.81763 12.3916 7.82251 12.3913C7.96787 12.3835 8.07931 12.2592 8.07141 12.1137L7.81207 7.36064C7.80417 7.21521 7.67989 7.10376 7.53446 7.11173C7.3891 7.11963 7.27765 7.24391 7.28555 7.38934L7.54483 12.1424Z' fill='%23FF608D'/%3e%3cpath d='M9.10352 12.3918C9.24915 12.3918 9.36719 12.2737 9.36719 12.1281V7.375C9.36719 7.22936 9.24915 7.11133 9.10352 7.11133C8.95788 7.11133 8.83984 7.22936 8.83984 7.375V12.1281C8.83984 12.2737 8.95788 12.3918 9.10352 12.3918Z' fill='%23FF608D'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_508:2477'%3e%3crect width='9' height='9' fill='white' transform='translate(4.59961 4.2002)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
}

.articles_create__sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.articles_create__sorting input {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.articles_create__sorting input:checked + p {
    border-color: #00B7FF;
}

.articles_create__sorting p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    height: 35px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 11px;
    line-height: 1.2;
    color: #4F4F4F;
    padding: 0 10px 0 24px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.articles_create__sorting p span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.articles_create__sorting p span:before {
    content: "";
    width: 12px;
    height: 9px;
    background-color: #00B7FF;
    -webkit-mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 8.3C7.5 7.9134 7.1866 7.6 6.8 7.6H0.7C0.313401 7.6 0 7.9134 0 8.3C0 8.6866 0.313401 9 0.7 9H6.8C7.1866 9 7.5 8.6866 7.5 8.3ZM12 0.7C12 0.313401 11.6866 0 11.3 0H0.7C0.313401 0 0 0.313401 0 0.7C0 1.0866 0.313401 1.4 0.7 1.4H11.3C11.6866 1.4 12 1.0866 12 0.7ZM0 4.5C0 4.8866 0.313401 5.2 0.7 5.2H11.3C11.6866 5.2 12 4.8866 12 4.5C12 4.1134 11.6866 3.8 11.3 3.8H0.7C0.313401 3.8 0 4.1134 0 4.5Z' fill='%2300B7FF'/%3e%3c/svg%3e ");
    mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 8.3C7.5 7.9134 7.1866 7.6 6.8 7.6H0.7C0.313401 7.6 0 7.9134 0 8.3C0 8.6866 0.313401 9 0.7 9H6.8C7.1866 9 7.5 8.6866 7.5 8.3ZM12 0.7C12 0.313401 11.6866 0 11.3 0H0.7C0.313401 0 0 0.313401 0 0.7C0 1.0866 0.313401 1.4 0.7 1.4H11.3C11.6866 1.4 12 1.0866 12 0.7ZM0 4.5C0 4.8866 0.313401 5.2 0.7 5.2H11.3C11.6866 5.2 12 4.8866 12 4.5C12 4.1134 11.6866 3.8 11.3 3.8H0.7C0.313401 3.8 0 4.1134 0 4.5Z' fill='%2300B7FF'/%3e%3c/svg%3e ");
    margin-right: 10px;
}

.articles_create__visual {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.articles_create__visual-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
    padding-top: 10px;
    margin: 0 30px;
}

.articles_create__visual-quantity p {
    font-size: 11px;
    line-height: 13px;
    color: #4F4F4F;
    margin-bottom: 10px;
}

.articles_create__visual-quantity p:last-child {
    margin-bottom: 0;
}

.articles_create__visual-quantity p b {
    font-weight: normal;
    font-size: 24px;
    line-height: 1.2;
    color: #4F4F4F;
}

.articles_create__indicators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.articles_create__indicators-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.articles_create__indicators-block:last-child {
    margin-bottom: 0;
}

.articles_create__indicators-title {
    font-size: 11px;
    line-height: 1.2;
    color: #4F4F4F;
    margin-bottom: 2px;
}

.articles_create__indicators-title:last-child {
    margin-bottom: 0;
}

.articles_create__indicators-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.articles_create__indicators-line {
    width: 178px;
    height: 5px;
    margin-right: 10px;
    position: relative;
}

.articles_create__indicators-line:last-child {
    margin-right: 0;
}

.articles_create__indicators-line:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.articles_create__indicators-line span {
    width: 0;
    height: 100%;
    border-radius: 5px;
    background: #00B7FF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.articles_create__indicators-data {
    font-size: 9px;
    line-height: 1.22;
    color: #828282;
}

.articles_create__result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 178px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px 14px 12px 24px;
    position: relative;
}

.articles_create__result.ready {
    border-color: #4CF99E;
}

.articles_create__result.ready i {
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='9.5' r='8.5' fill='white'/%3e%3cpath d='M13.8605 5.301L7.6 11.5615L4.1895 8.1605L2.85 9.5L7.6 14.25L15.2 6.65L13.8605 5.301ZM9.5 0C4.256 0 0 4.256 0 9.5C0 14.744 4.256 19 9.5 19C14.744 19 19 14.744 19 9.5C19 4.256 14.744 0 9.5 0ZM9.5 17.1C5.301 17.1 1.9 13.699 1.9 9.5C1.9 5.301 5.301 1.9 9.5 1.9C13.699 1.9 17.1 5.301 17.1 9.5C17.1 13.699 13.699 17.1 9.5 17.1Z' fill='%234CF99E'/%3e%3c/svg%3e ");
    left: 7px;
}

.articles_create__result.not_ready {
    border-color: #FF608D;
}

.articles_create__result.not_ready i {
    width: 22px;
    height: 19px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='9' y='6' width='5' height='11' fill='white'/%3e%3cpath d='M0.86902 17.499C0.483055 18.1656 0.964115 19 1.73445 19H20.2656C21.0359 19 21.5169 18.1656 21.131 17.499L11.8654 1.49482C11.4803 0.829539 10.5197 0.829542 10.1346 1.49483L0.86902 17.499ZM12 15C12 15.5523 11.5523 16 11 16C10.4477 16 10 15.5523 10 15C10 14.4477 10.4477 14 11 14C11.5523 14 12 14.4477 12 15ZM12 12C12 12.5523 11.5523 13 11 13C10.4477 13 10 12.5523 10 12V8C10 7.44772 10.4477 7 11 7C11.5523 7 12 7.44772 12 8V12Z' fill='%23FF608D'/%3e%3c/svg%3e ");
    left: 6px;
}

.articles_create__result-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: -12px;
}

.articles_create__result-title {
    font-weight: 500;
    font-size: 9px;
    line-height: 1.22;
    color: #4F4F4F;
    margin-bottom: 10px;
}

.articles_create__result-title:last-child {
    margin-bottom: 0;
}

.articles_create__result-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.articles_create__result-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 6px;
    line-height: 1.7;
    color: #4F4F4F;
    padding-left: 8px;
    margin-bottom: 5px;
    position: relative;
}

.articles_create__result-item:before {
    content: "";
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #828282;
    position: absolute;
    top: 3px;
    left: 0;
}

.articles_create__result-item:last-child {
    margin-bottom: 0;
}
